<%= form_for [@branchable, @branch] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter a Branch Name." %>
  </div>
  <div class="form-group">
    <%= f.label :tin_number %>
    <%= f.text_field :tin_number, class: "form-control", placeholder: "Enter the TIN of the Branch" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
