<%= form_for @company do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter a Company Name" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
