<h1>FullSuite Clients Lists</h1>
<div class="well">
<%= link_to "New Company", new_company_path, class: "btn btn-primary" %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Branches</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @companies.count == 0 %>
      <tr>
        <td colspan="3">
          No companies found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to "#{company.name}", company %></td>
          <td><%= company.branches.count %> branches found </td>
          <td><%= link_to "View", company_path(company), class: "btn btn-default" %></td>
          <td><%= link_to "View V2", company, class: "btn btn-default" %></td>
          <td><%= link_to "Edit", edit_company_path(company), class: "btn btn-default" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!--
<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>
-->
