<h1><%= "#{@company.name}" %></h1>
<hr />
<h3>Branches Lists</h3>
<div class="well">
  <%= link_to "New Branch", new_company_branch_path(@company), class: "btn btn-primary" %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Branch Name</th>
      <th>Tin Number</th>
      <th>Created On</th>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <% if @company.branches.count > 0 %>
    <% @company.branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.tin_number %></td>
        <td><%= time_ago_in_words branch.created_at %> ago</td>
        <td><%= link_to "Edit", edit_company_branch_path(@company, branch), class: "btn btn-default" %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">No branches found for this company.  Click the 'New Branch' button to create a new branch.</td>
    </tr>
  <% end %>
</table>

<!--
<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>
-->
